body {
    background: #000;
    color: #fff;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 1em;
}

a {
    color: #0ff;
}

lights {
    color: #0f0;
}

warn {
    color: #f00;
}

.same {
  content: "";
  display: block;
  margin: 100px auto;
  width: 32px;
  height: 32px;
  background: hsla(300, 100%, 50%, 1.00);
  border-radius: 100%;
  transition: all 400ms ease-out;
}

.same:hover {
  transform: scale(2);
  box-shadow: 0 0 64px hsla(300, 100%, 50%, 1.00)
}
