:root {
  --light0: #fbf1c7;
  --dark0: #282828;
  --dark1: #3c3836;
  --dark0-hard: #1d2021;
  --dark0-soft: #32302f;
  --bright-blue: #83a598;
}

body {
  margin: 0;
  background: var(--dark0);
  color: var(--light0);
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

a {
  color: var(--bright-blue);
}

section {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  padding: 40px 0;
  z-index: 2;
}

.grid {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4px;
}

.hero {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 40px;
  line-height: 1.23456;
  font-family: monospace;

  canvas {
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: .4;
  }

  .lights, .warn {
    max-width: 960px;
  }

  .lights {
    margin: 20px auto;
    font-size: 32px;
    color: #32bbff;
    white-space: pre-wrap;
  }

  .warn {
    --col: 255, 49, 255;
    margin: 0 auto;
    font-size: 32px;
    animation: glow 16ms ease-in-out infinite;

    color: rgb(var(--col));
    text-shadow: rgba(var(--col), .33) 0 0 16px;
  }
}

@keyframes glow {
  0%, 100% {
    opacity: .9;
  }
  50% {
    opacity: 1;
  }
}

.about {
  background-color: var(--dark0-soft);
  box-shadow: 0 0 60px 20px #000000aa;
  text-align: center;
  text-shadow: 2px 2px 6px #000;

  h2 {
    display: flex;
    justify-content: center;
    font-weight: normal;
    margin-block-start: 0;
  }
}

.projects {
  background-color: hsla(58, 29%, 45%, 1);
}

.footer {
  background-color: var(--dark1);
  position: relative;
  z-index: 10;
  padding: 20px 40px;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  white-space: nowrap;
  align-items: center;

  nav {
    display: flex;
    gap: 12px;
    justify-content: center;
  }

  .octicon, .in {
    fill: #fff;
  }

  .same {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background: hsla(300, 100%, 50%, 1.00);
    border-radius: 100%;
  }
}
