:root {
  --light0: #fbf1c7;
  --dark0: #282828;
  --dark0-hard: #1d2021;
  --dark0-soft: #32302f;
  --bright-blue: #83a598;
}

body {
  margin: 0;
  background: var(--dark0);
  color: var(--light0);
  font-family: monospace;
  font-size: 20px;
}

a {
  color: var(--bright-blue);
}

section {
  padding: 40px 0;
  min-height: 40vh;
  z-index: 2;
}

section .container {
  max-width: 960px;
  margin: 0 auto;
}

.lights {
  white-space: pre;
}

.about {
  background-color: var(--dark0-soft);

  h2 {
    font-weight: normal;
  }

  nav {
    gap: 12px;
  }

  nav, h2 {
    display: flex;
    justify-content: center;
  }

  .octicon, .in {
    fill: #fff;
  }

  .same {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background: hsla(300, 100%, 50%, 1.00);
    border-radius: 100%;
    transition: all 150ms ease-out;
  }  
}

.dsp {
  background-color: hsla(58, 29%, 45%, 1);
  display: flex;
  justify-content: center;
}
