@font-face {
    src: url('./mononoki-Regular.otf');
    font-family: Mononoki;
}

body {
    font-family: Mononoki, monospace;
    white-space: pre-wrap;
    font-size: 20px;
}

lights {
    white-space: pre;
}
